/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
body {
  background: #59c173; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fontTitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.textError {
  font-size: 1rem;
}
